@import "tailwindcss";

/* Fonts */
font-face {
  font-family: sf-pro;
  src: url(../src/assets/fonts/sf-pro-text_regular.woff2) format(woff2);
}

body {
  font-family: "sf-pro", sans-serif;
  padding: 0;
  margin: 0;
}
